[2016-02-28 06:27] lvarayut opened #1 "Add Logo and Demo files"
## Logo

![relay-fullstack-logo](https://cloud.githubusercontent.com/assets/4281887/14516854/792107ac-0231-11e6-95dd-86bb2b5197e3.png)
## Demo

![demo](https://cloud.githubusercontent.com/assets/4281887/13377800/9c4705a2-de1d-11e5-82cb-745e16d5b1c4.gif)
## Yeoman

![yeoman](https://cloud.githubusercontent.com/assets/4281887/15426353/3cad6240-1eb8-11e6-8400-deafceac8dc3.png)

[2016-03-11 12:45] kulakowka commented on #1
It's awesome! Thank you @lvarayut !

[2016-03-11 15:09] lvarayut commented on #1
@kulakowka Glad that you :heart:  it. I have planned to integrate it with many great tools, such as, Eslint, a testing framework, Flow, Yeoman, and etc. So, Stay tuned!

[2016-03-11 15:30] kulakowka commented on #1
Yes, I am watching for changes to your repository.

P.S.
Most of all I would like to see an example of integration with databases.

[2016-03-11 15:52] lvarayut commented on #1
That's one of the features noted in my long list, could be MongoDB. It will be integrated after Yeoman because I don't want to force everybody to use a chosen database. After having a Yeoman generator, they could choose whether they want to include the database or not.

[2016-03-13 15:44] flt123 opened #2 "NPM Issue"
Hi,

Great stack. Had issues with npm start. Find attached the npm issue log and let me know if I'm doing something wrong at my end. Running on Mac.

[2016-03-13 16:01] lvarayut commented on #2
I'm running fine with NodeJs v5.8.0, same as yours, on Mac. Can you try to move it out of the Dropbox directory and try again?

[2016-03-13 16:10] flt123 commented on #2
Thanks for your quick response. Tried that and still getting same error. I suspect some lodash dependency somewhere. Updated log attached.

[2016-03-13 16:12] lvarayut commented on #2
Have you ever run `npm install` before? If yes, what's happen if you run `npm install lodash && npm start`?

[2016-03-13 16:33] flt123 commented on #2
That did the trick, looks like some dependencies are using older version of lodash. Thanks a lot

[2016-03-13 16:37] lvarayut commented on #2
No problem :smile:

[2016-03-13 16:37] #2 closed, assigned to nobody

[2016-03-18 11:29] jkettmann opened #6 "Refresh in production mode causes error"
Refreshing the browser on any page except home causes an error "cannot get /...". This must be a configuration problem between react-routers browser history and the server.

In short: when you navigate to e.g. /login via the menu react-router is taking care of navigation without server interaction. On refresh though a request with url /login is send to server which is not available.

See [this ans

[2016-03-18 11:54] lvarayut commented on #6
Thanks for reporting. I'll take a look at it soon. If you could make a PR, it'll be very welcomed.

[2016-03-18 15:36] lvarayut commented on #6
Fixed by https://github.com/lvarayut/relay-fullstack/commit/e661e23d4f15d03bfad82bc669d097974844ec89.

[2016-03-18 15:36] #6 closed, assigned to nobody

[2016-04-03 11:25] nickeblewis opened #7 "Can I deploy to Heroku or other similar service?"
Having executed the command line:

$ npm run deploy

How can I push the build up to a service such as Heroku? or similar service?

[2016-04-03 15:30] lvarayut commented on #7
Relay Fullstack doesn't provide any specific command for deploying on particular services. Basically, you could follow a guide of that service in order to deploy it. For example, in Heroku, you will need to create a `Procfile` which is included the exact command you want to run, could be as same as `npm run deploy`.

[2016-04-04 23:16] iamthesiz opened #8 "Have you figured out how to load data into separate components using containers?"
For instance, I tried adding a `<Blog/>` component (with a BlogContainer) to `<App/>` but when I try to access `this.props.viewer` it isn't defined.

When I update the Route.js file by adding a route with `/blog` it will load the data when I navigate to `localhost:3000/blog`, but Ideally it would just load the data on page load.

I noticed you had a similar issue with `<Footer/>` and you had to pa

[2016-04-05 03:41] lvarayut commented on #8
Could you show me your code? I have been digging into the problem of the Footer component for a while. I found that when I used the [getFragment](https://github.com/lvarayut/relay-fullstack/blob/master/client%2Fcomponents%2FApp%2FAppContainer.js#L6) method, the data has been fetched correctly. However, it didn't get bound to the `this.props.viewer` for some reason.

[2016-04-05 07:31] nickeblewis commented on #7
Thanks I will try that.

[2016-04-05 08:12] lvarayut commented on #7
No problem :)

[2016-04-05 08:12] #7 closed, assigned to nobody

[2016-04-06 18:44] jg123 commented on #8
I posted a pull request (#9) with a working footer fragment. The viewer prop is populated. The issue was mainly importing FooterContainer instead of FooterComponent to get it to work.

[2016-04-06 21:24] iamthesiz commented on #8
I got it to work this way as well. I just didn't think it was required to pass the viewer prop down and use the getFragment method. Right on though :)

[2016-04-06 21:41] alexhawkins opened #10 "Updating graphQL changes when you have a nested file structure"
[My current directory structure](https://www.dropbox.com/s/bp4z87683ohyaud/Screenshot%202016-04-06%2014.30.39.png?dl=0) ( see this first to understand how i have things set up )
Changes to schema.js work fine but I don't really make changes there.
[My current schema.js file](https://www.dropbox.com/s/a6lw171mkxfwtem/Screenshot%202016-04-06%2014.33.24.png?dl=0)
Gaze recognizes changes in other file

[2016-04-07 00:57] #8 closed, assigned to nobody

[2016-04-07 01:50] lvarayut commented on #10
It's the problem of caching files, the first time you require the UserType.js, the file will be cached by NodeJs. So, it's always the same even though it has been changed.  For a quick fix, you always have to use `requireUncached()` function to require files.

I have planned to move from Gaze to Nodemon very soon. This will help reloading the server without worrying about caching files.

[2016-04-07 12:41] jg123 commented on #8
We are working on a separate relay-react app and the only way we could have access to the props were to pass them down. It seems to break the decoupling, but otherwise it doesn't work.

[2016-04-10 13:05] lvarayut commented on #10
Fixed by 48a533c.

[2016-04-10 13:05] #10 closed, assigned to nobody

[2016-04-13 13:11] sachgits commented on #1
loves @kulakowka idea of integration with database best of all MongoDB.

[2016-04-14 20:10] alexhawkins commented on #10
@lvarayut Thank you very much :)

[2016-04-14 20:15] alexhawkins opened #11 "Server Side Rendering support"
Do you have plans to add SSR to your kit? SSR is essential for SEO. Current solutions seem to be a bit hacky but here is an an example of it being done:  https://github.com/codefoundries/isomorphic-material-relay-starter-kit

[2016-04-15 03:04] lvarayut commented on #11
Thanks @alexhawkins for the link. I'll take a look at it. Any PR would be also really welcomed.

[2016-04-15 03:08] lvarayut commented on #1
@sachgits It has been noted.

[2016-04-16 13:01] lvarayut opened #12 "Roadmap"
**Update:** We stop supporting Yeoman for now, until we can find a good way to maintain it in our project, see more details https://github.com/lvarayut/relay-fullstack/issues/72.

Here is all the features planned to be developed. I list them out in order to make it easy for everybody to discuss and participate in the project. These features could be changed as needed, so don't hesitate to express

[2016-04-16 13:13] lvarayut commented on #1
I'm closing this issue as all the features mentioned here have been listed in #12. Please feel free to discuss your ideas in that issue.

[2016-04-16 13:13] #1 closed, assigned to nobody

[2016-04-16 13:15] lvarayut commented on #11
I'm closing this issue as the feature has been listed in #12. Please feel free to discuss further in that issue.

[2016-04-16 13:15] #11 closed, assigned to nobody

[2016-04-16 17:10] keon commented on #12
This is awesome, thanks for the project!
But why Browserify when you already got webpack?

[2016-04-16 18:13] keon commented on #12
Also when adding database integration, adding all the graphql schema and mongodb (mongoose, likely) schema into one folder seems to be counter intuitive. Why don't we split GraphQL schema into `/graphql` and database into `database` or conventionally called `model`?

So the proposed files structure might look like the one below:

[code]

[2016-04-16 19:21] keon opened #13 "user authentification"
How should we implement user authentification in GraphQL?
Most practices I saw are RESTful (for user auth) + GraphQL (for general use)

[2016-04-16 22:35] keon opened #14 "JavsScript Style Standard"
I wish there could be a reference to the styles used in this project?

[2016-04-16 22:37] keon opened #15 "Consider use of MongoDB, Mongoose"
MongoDB, Mongoose, and Graffiti all work perfectly well when used with  GraphQL.
the mongoose schema using MongoDB and Mongoose would look like the one I did in the [fork](https://github.com/keonkim/relay-fullstack).

[2016-04-16 22:59] keonkim commented on #15
Using Graffiti would be a little adventure because it is still immature.

but the mongoose schema using MongoDB and Mongoose would look like the one I did in the [fork](https://github.com/keonkim/relay-fullstack).

[2016-04-17 03:08] lvarayut commented on #12
Thanks for expressing your idea. Browserify was a typo. It meant to be Browsersync instead.

Yes, when integrating the MongoDB, I have planned to restructure the schema/query/mutation structures.

[2016-04-17 03:11] lvarayut commented on #13
You could inject your own DefaultNetworkLayer as following:

[code]

Take a look at [this awesome article](https://auth0.com/blog/2015/10/06/getting-started-with-relay/).

[2016-04-17 03:11] #13 closed, assigned to nobody

[2016-04-17 03:13] lvarayut commented on #14
This project is following the [Airbnb React/JSX Style Guide](https://github.com/airbnb/javascript/tree/master/react).

[2016-04-17 03:13] #14 closed, assigned to nobody

[2016-04-17 03:23] lvarayut commented on #15
Thanks for your suggestion. I saw the Graffiti for a while but didn't look at it in details. It seems to be used when you already have your existing models and you don't want to rewrite everything from scratch. So, you could embrace Graffiti middleware in order to convert your existing models into a GraphQL schema and exposes it over HTTP. I didn't see how it fits in our project.

[2016-04-17 06:42] keon commented on #12
@lvarayut I can work on MongoDB and Mongoose part
Please refer to my [fork](https://github.com/keonkim/relay-fullstack) to see my proof of concept.
(It might be immature as I am building it while learning graphql)

[2016-04-17 08:43] lvarayut commented on #12
Thanks @keonkim. That would be great. Don't worry, take your time to learn GraphQL and complete your MongoDB in your fork. I can check it out afterward. However, you might also consider that do we really need to use Mongoose or just the simple MongDB driver is enough. Also, JWT is the preferable choice for authentication.

[2016-04-18 08:33] AhmadEl-Banna commented on #12
@lvarayut @keonkim  if you decide to go with MongoDb and mongoose ,have a look at https://github.com/RisingStack/graffiti-mongoose,
I think it will remove a lot of redundant work with graphQL

[2016-04-18 09:18] lvarayut commented on #12
@AhmadEl-Banna, Thanks for your suggestion. @keonkim has suggested it also. I'll take a look at it.

[2016-04-22 09:20] anchika opened #16 "NPM Issue"
Hi,

I am new to relay and react . I followed the steps and got the npm issue on npm install.:

npm ERR! peerinvalid The package eslint-plugin-react@5.0.1 does not satisfy its
siblings' peerDependencies requirements!
npm ERR! peerinvalid  Peer eslint-config-airbnb@7.0.0 wants eslint-plugin-react@^
4.3.0

I changed the dependency in package.json for eslint-plugin-react to 4.3.0. The npm install was

[2016-04-22 14:43] lvarayut commented on #16
@anchika It seems like the `npm` hasn't been set to your PATH. Are you using window? You might take a look at this [StackOverflow question](http://stackoverflow.com/questions/20992723/npm-is-not-recognized-as-internal-or-external-command-operable-program-or-bat).

[2016-04-22 18:25] anchika commented on #16
I am using windows. Npm was set in path but it seems like some issues with windows. When I tried same steps in Ubuntu, everything worked fine.

[2016-04-23 01:07] lvarayut commented on #16
That's interesting. Did you try to add `;C:\Program Files\nodejs\` to the end of your Path variable and restart your command prompt?

[2016-04-23 01:41] blackpost38 commented on #16
@anchika why don't you check this out https://github.com/remy/nodemon/issues/389. Maybe, this issue looks like a problem that you have

[2016-04-24 16:33] lvarayut commented on #16
I'm going to close this issue since it seems to be not related to Relay Fullstack. Please feel free to continue the discussion here if you had more question.

[2016-04-24 16:33] #16 closed, assigned to nobody

[2016-04-25 02:31] lvarayut commented on #7
Now, Relay Fullstack suuports deploying on Heroku. Please refer to [Heroku deployment](https://github.com/lvarayut/relay-fullstack#heroku) section.

[2016-04-26 11:12] AhmadEl-Banna commented on #15
@keonkim @lvarayut  you should have a look at this repo
https://github.com/RisingStack/graffiti-mongoose

[2016-04-27 02:58] sachgits commented on #15
@lvarayut thats true graffiti doesn't really fit in this project but mongoose at least for the login and signup part of it in way that works with relay and graphQL, thanks

[2016-04-27 03:18] sachgits commented on #12
Hi everyone love the progress been using these and after checking the Roadmap issue i wondered why not contribute to these. and by look of who is working on what seems like the JWT is open as it waits for the mongoDB (mongoose) database. i don't know much yet on JWT but i do research on it and take part on the login and signup pages that's if am welcome hahaha thanks guys

[2016-04-27 08:13] lvarayut commented on #12
@sachgits, I would say that the JWT should be done after the database integration. If you could, please take a look at the database integration before digging down into JWT.

[2016-04-27 09:01] sachgits commented on #12
@lvarayut ok let me do that also to add i think that they types should have separation inside of schema and with of which Persons Types, Feature Types node definitions and connection definitions should go separately

[2016-05-11 14:39] jamesroseman commented on #15
I personally think purposely leaving out dictated data storage is part of what makes this repo so valuable. How you start up a React/Relay project will more or less be the same every time, but how you store the data will change a lot depending on intricacies of the project itself. I think if you want boilerplate Mongo code blended in you should fork or make a Mongo branch.

[2016-05-11 14:50] keon commented on #15
@jamesroseman node.js server projects almost always go with mongo (at least in my experiences). For example, MEAN stack included mongodb boilerplate as their storage and this was what made it so popular.
But at the same time I also think that it should be modularized so that users can easily change their storage backend. More thoughts?

[2016-05-11 16:00] lvarayut commented on #15
Both of you have valid points. That's why I'm trying to include the database as an option, by using Yeoman. So, people can choose whether or not they want to include the database. Even better, we could provide many database options; MongoDB, Postgresql, and MySQL, in the generator.

[2016-05-11 16:32] jamesroseman commented on #15
@lvarayut I'd also urge you to include the option to keep it reading from `database.js`, so that if you were to use a more esoteric approach (I'm working on apps that use RethinkDB, Firebase, some that rely on other app's APIs as their data source) you could still easily spin up a project and unplug the current data dependency.

[2016-05-23 06:39] lexun commented on #12
I've been enjoying Mocha for testing, and it seems to be the default choice in the React community these days (Just look through some repos here: https://github.com/reactjs).

As for database, I'd love to see the core of this boilerplate stay flexible if possible. I've been experimenting with some RethinkDB configurations and think there is a lot of potential there.

[2016-05-23 08:15] lvarayut commented on #12
Thanks for your suggestion. Mocha looks really good to me. The project is currently split into two main branches; [master](https://github.com/lvarayut/relay-fullstack) and [canary](https://github.com/lvarayut/relay-fullstack/tree/canary). The master branch always stays flexible as much as possible by containing only general technologies needed by all the projects. On the other hand, the canary bra

[2016-05-23 16:36] lexun commented on #12
Any thoughts about using css modules? I'd be happy to cut a branch to show what it could look like.

https://github.com/css-modules/css-modules
http://glenmaddern.com/articles/css-modules

[2016-05-24 04:28] lvarayut commented on #12
That would be awesome!

[2016-05-29 19:00] lexun commented on #12
See #18

[2016-05-30 19:23] nodkrot commented on #12
How about https://github.com/Khan/aphrodite ?

[2016-05-31 02:44] lvarayut commented on #12
@nodkrot It seems to be the same concept as `css-modules` except it's including everything in the same JavaScript file. BTW, @lexun has integrated `css-modules` which allows you to have a separate CSS file, and then, you can import it in your JavaScript which is more convenient, in my opinion. Most of the cases, you will have some business logic in your JavaScript file and you might not want to mi

[2016-05-31 12:51] mjurincic commented on #12
Database integration with classical RDBMS-es like MySQL/PostgreSQL would be also great, enterprise Apps still depend on them although NoSQL DB like MongoDB plays nice with mentioned graffiti-mongoose integration, there are projects already projects tackling those problems https://github.com/mickhansen/graphql-sequelize, maybe making it an option in Yeoman when scaffolding projects.

[2016-05-31 13:17] lvarayut commented on #12
@mjurincic, that's a good idea. The database is totally optional and will be an option in Yeoman, [generator-relay-fullstack](https://www.npmjs.com/package/generator-relay-fullstack).

[2016-06-01 20:27] sachgits commented on #12
hey worked on testing barebones serverside might not be perfect yet but please take look at it and let me know what you guys think before i start on client side testing
https://github.com/lvarayut/relay-fullstack/pull/19

[2016-06-13 19:46] sankalpk opened #21 "Webpack command error (affects Heroku deploys as well)"
When I run webpack, I receive an error

[code]

This affects Heroku deploys as well. I'll be submitting a PR for this shortly.

[2016-06-14 02:39] #21 closed, assigned to nobody

[2016-06-22 18:44] d-winter opened #23 "Wrong include with subroutes"
Hi,

first thanks for this awesome project! It's a huge help for me starting with relay!

I have changed the routes so there is now a subroute with a  a route with a subroute:

[code]

When I hit the route, there is an 404 error:
http://localhost:3000/projects/vendor.js
http://localhost:3000/projects/app.js

The index.html is loaded correctly, but the includes of the both js files points into the

[2016-06-23 03:57] lvarayut commented on #23
Hey Daniel, thanks for reporting. In the [webpack.config.js at line 62](https://github.com/lvarayut/relay-fullstack/blob/master/webpack.config.js#L62), could you try to add `publicPath` property as following:

[code]

Then, run `npm start` again. Let me know if it worked.

[2016-06-23 14:27] d-winter commented on #23
Ok, got it working.
I have changed this line:

[code]

Hope this helps.
Thanks a lot!

[2016-06-23 14:27] #23 closed, assigned to nobody

[2016-06-25 09:35] agungsb commented on #16
I manage to solve the problem by change the following script:

`nodemon --watch 'server/data/**/*.js' --exec 'npm run update && babel-node server/index.js'`

with

`"nodemon --watch server/data/**/*.js --exec \"npm run update && babel-node server/index.js\""`

It is located inside `package.json`. I hope this will help somoeone out there who face the same problem as I had.

[2016-06-26 05:27] agungsb opened #24 "Generate Schema from remote server"
I'm recently playing with this relay-fullstack. I wonder if I can make a request to remove server (_currently, server and client are running in localhost_).

For example, my server is in `http://127.0.0.1:8529/_db/_system/api/graphql` (I'm using ArangoDB for the backend). I've read Relay's documentation which says that I can achieve it with the following:

`Relay.injectNetworkLayer(
  new Relay.De

[2016-06-26 05:34] lvarayut commented on #24
Where do you define your GraphQL types and schema?

[2016-06-26 06:10] agungsb commented on #24
Based on default project structure, it is located inside `/server/data/` folder.

[2016-06-26 07:01] lvarayut commented on #24
Are you also running your [GraphQL HTTP Server](https://github.com/graphql/express-graphql) at `http://127.0.0.1:8529/_db/_system/api/graphql`? Relay currently sends a request to your specified endpoint. so, your endpoint needs to handle a graphql request and send back some response to Relay.  If you have set it up, please provide your code and the way you tested on Postman and GraphiQL.

[2016-07-02 06:54] agungsb commented on #24
Hi, @lvarayut . Sorry for the late reply. I read your comment [here](https://disqus.com/home/discussion/avocadodb/using_graphql_with_nosql_database_arangodb/). You said that you're using ArangoDB for backend and Relay for the frontend.

Well, this is the situation that I am facing right now. Any thoughts about the best approach or best practice to achieve it (at least, I would like to know how you

[2016-07-02 10:20] lvarayut commented on #24
You need to use [graphql-sync](https://github.com/arangodb/graphql-sync) to define types and to generate `schema.json` in your Foxx app, and then, provide an api in order to pass the compiled `schema.json` back to your Relay app. See this [issue](https://github.com/arangodb/graphql-sync/issues/2) on graphql-sync.

I'm going to close this issue since it seems to be not related to Relay Fullstack. P

[2016-07-02 10:20] #24 closed, assigned to nobody

[2016-07-05 05:24] lvarayut commented on #24
@agungsb, I found a good answer on this [Stack Overflow](http://stackoverflow.com/questions/38158327/arangodb-foxx-with-relay-framework) question that might be useful to you.

[2016-07-08 22:29] andyfen opened #26 "any chance of including some mutations or auth examples?"
maybe as a separate branch or something but it would really be helpful, resources for both these are thin on the web.

thanks.

[2016-07-09 04:34] lvarayut commented on #26
Thanks for asking. I included the Mutation example in our [Roadmap](https://github.com/lvarayut/relay-fullstack/issues/12).

[2016-07-09 04:34] #26 closed, assigned to nobody

[2016-07-13 13:42] RyLeeHarrison opened #27 "Consider use of "favicons-webpack-plugin""
In the interest of improvement and further movement of the project, I recommend the use of the simple  [favicons webpack plugin dependency](https://www.npmjs.com/package/favicons-webpack-plugin), because it will reduce the size of the application, clean up the HTML template, offer more user customizable features for their particular use case.

[2016-07-13 14:22] lvarayut commented on #27
Thanks for your suggestion. I have tried the plugin few months ago. At that time, it was very early stage and had some potential problem, I don't remember exactly what it was.  However, the plugin  might be improved and definitely worth to try. I'll check it out asap. Any PR will also be very welcomed.

[2016-07-13 14:25] RyLeeHarrison commented on #27
Excellent!

[2016-07-30 05:53] lvarayut commented on #27
Implemented in 497de427b1b69e9bf3405ab8c2c1ccb9cc03e5e2 :)

[2016-07-30 05:53] #27 closed, assigned to nobody

[2016-08-08 17:18] ardavank opened #29 "npm Install error!"
I cloned the repo and ran "npm install" and I got the following error message:

npm ERR! Darwin 15.6.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v4.4.4
npm ERR! npm  v2.15.1
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package eslint-plugin-jsx-a11y@2.0.1 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer eslint-co

[2016-08-08 18:02] ardavank commented on #29
I even tried it with node v6.1.0

npm ERR! Darwin 15.6.0
npm ERR! argv "/usr/local/Cellar/node/6.1.0/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v6.1.0
npm ERR! npm  v2.15.1
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package eslint-plugin-jsx-a11y@2.0.1 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer eslint-config-airbnb@9.0.1 wants esli

[2016-08-08 18:41] ardavank commented on #29
I fixed the issue by upgrading the npm to version 3.8.6

[2016-08-08 18:41] #29 closed, assigned to nobody

[2016-08-09 02:32] lvarayut commented on #29
Thanks for sharing the solution.

[2016-08-10 14:38] lvarayut commented on #26
Just quick notify, the example of mutation has been implemented in this ff982bfac7d159b3643ce60507a5464c81b563c5 :)

[2016-08-12 00:37] Rohit-cheddr opened #30 "External graphql server?"
How could I go about connecting to an external graphql server in production? I can see in the development configuration that I just need to change the `proxy` to point to the external graphql url, but how would I do it in production? Here's what I have so far:

[code]

[2016-08-12 03:31] lvarayut commented on #30
Thanks for your question. If you're using external GraphQL server, you can set up Relay to send request directly to the server by putting the following code inside `client/index.js`:

[code]

Moreover, you could also completely delete our internal GraphQL endpoint in the `server/index.js`.

[2016-08-12 19:41] Rohit-cheddr commented on #30
Gotcha! That's working. Thanks!

[2016-08-12 19:41] Rohit-cheddr commented on #30
Gotcha! That's working. Thanks!

[2016-08-12 19:41] #30 closed, assigned to nobody

[2016-08-13 00:33] jonstokes commented on #12
Just wanted to drop in a note and say how much I love this project. I'm coming to react/relay/graphql from the rails world, and I've been looking for an opinionated generator that uses the same basic add-ons and tools I'm already using in my react projects (i.e. webpack, css modules, babel, etc.). So this is just perfect! Just looking at the generated default site has answered a bunch of questions

[2016-08-13 03:54] lvarayut commented on #12
@jonstokes, Thanks for your kindly words! I'm very glad to hear that the project is useful to you. I will keep improving it and make it even easier to get started with Relay and GraphQL 🚀

[2016-08-13 19:15] TheoMer opened #31 "app crashed - waiting for file changes before starting"
OS: Windows 10 Pro
NPM: 3.9.5

So I:
1. git clone https://github.com/lvarayut/relay-fullstack.git
2. cd relay-fullstack
3. npm install
4. npm start

and am then issued with the following message:

`> relay-fullstack@1.0.0 start C:\Users\Theo\Documents\Visual Studio 2015\Projects\relay-fullstack`
`> nodemon --watch 'server/data/**/*.js' --exec 'npm run update && babel-node server/index.js'`

`[node

[2016-08-14 02:07] lvarayut commented on #31
Thanks for the question. The issue seems to be related to your environment setup. Please take a look at this [Stack Overflow question](http://stackoverflow.com/questions/20992723/npm-is-not-recognized-as-internal-or-external-command-operable-program-or-bat).

[2016-08-14 08:46] TheoMer commented on #31
@lvarayut Yes, I have C:\Program Files\nodejs as part of my PATH variable, but that does not resolve the issue. (See image)

I have 4 other projects, all using 'npm start', which all work with no issues. Yours is the only one that fails when running that commenad.

![npm path variable](https://cloud.githubusercontent.com/assets/15969262/17648152/f2869e18-6203-11e6-98e4-a25533e09e69.jpg)

If I run

[2016-08-14 09:09] lvarayut commented on #31
Would [this issue](https://github.com/lvarayut/relay-fullstack/issues/16) be related to your problem?

[2016-08-14 09:32] TheoMer commented on #31
@lvarayut So the solution was to change:

`"start": "nodemon --watch 'server/data/**/*.js' --exec 'npm run update && babel-node server/index.js'"`

to

`"start": "nodemon --watch server/data/**/*.js --exec \"npm run update && babel-node server/index.js\""`

You may wish to update the 'Read me' section to notify windows users of this solution, should they experience this issue.

[2016-08-14 09:36] lvarayut commented on #31
Thanks for sharing the solution. I will find the best way to solve the problem.

[2016-08-14 09:36] #31 closed, assigned to nobody

[2016-08-22 08:27] CDRO opened #32 "airbnb depends on eslint-plugin-jsx-a11y 1.2.0, 2.1.0 is provided"
Hello there,

first of all, thank you for your project! I really appreciate what you did here!

But...while trying to install the package as documented, the following error occured:

[code]

I figured that this should be clearly stated in the dependencies when installing the package and thus is an issue directly directed to you.

Thanks for your support and for making such a great job this far!

G

[2016-08-22 10:28] lvarayut commented on #32
Hi Tizian, thanks for your question. This seems to be missed matched of eslint dependencies. Could you try `npm install eslint-plugin-jsx-a11y@^1.2.0`?

[2016-08-22 11:23] CDRO commented on #32
Hello Ivarayut,

thank you for your quick feedback!

I tried this but then some other dependencies seem to not work properly too:

[code]

I was wondering if this truely wasn't an npm issue, since I believed that every sub-package should be able to handle its own dependencies but it seems that I was mistaken.

Anyway

Thank you in advance
BTW: what version of npm and node.js do you use? I'm curren

[2016-08-22 13:22] lvarayut commented on #32
I can install the dependencies without any problem using node `v6.3.1` and npm `3.10.3`. Could you try again with the following command:

[code]

[2016-08-22 13:51] CDRO commented on #32
Thanks a lot again, this seems to do the trick, at least the application now starts.

A subsequent error is now the following:

[code]

This still allows the application to start, but once I call the application on port 3000, the following happens:

[code]

I figured that somewhere a png file is to be generated without giving the script a width and height?

[2016-08-22 14:33] lvarayut commented on #32
I can't reproduce the issue, I tried to use node `4.3.1` but it's still working fine on my computer 😓. However, the issue might be related to https://github.com/jantimon/favicons-webpack-plugin/issues/23.

[2016-08-22 14:49] CDRO commented on #32
Thanks a lot for your great support! This definitely seems not te be related to your product anymore!

Closed for me!

[2016-08-22 14:49] #32 closed, assigned to nobody

[2016-08-23 10:52] imzautomation commented on #12
Hello i am using relay full stack but I am facing some issues I have a django backend serving graphql endpoint at 8000 port I used graphene to build the graphql server by follwing the tutorial provided in Thierry website , I have a schema.json file generated and it resides in backend folder how do integrate this with this kit ? What changes do I have to make

[2016-08-23 12:39] lvarayut commented on #12
@imzautomation Thanks for your question. Could you open a new issue and show your full error log?

[2016-08-23 13:49] imzautomation commented on #12
@Ivarayut sure will do thanks

[2016-08-23 17:20] imzautomation opened #33 "problem with replacing django backend with provided express"
hello i am using relay fullstack as frontend , i have developed the backend in django using graphene and i am serving a graphql endpoint from http://localhost:8000/graphiql  here is my error log

[code]

[2016-08-23 17:24] imzautomation commented on #33
here are all the modification i have made https://gist.github.com/imzautomation/dc03dae0c10f24f148575744955cc60d

[2016-08-24 14:02] lvarayut commented on #33
Thanks for clarifying your question. The error seems to be the `var schema = require('/back/schema');`, the compiler can't find the module. I guess you might need to use a relative path instead of the absolute path, for example,  `var schema = require('back/schema');`

[2016-08-25 16:14] Rohit-cheddr opened #34 "Relay is returning strange alias for connections via REQUIRED_CHILDREN after mutation"
For some reason when I do a mutation and get a return value with `REQUIRED_CHILDREN` in `getConfigs`, connections are being returned with a strange alias: `_tierItems2EmfF3`where it should be `tierItems`.

When I make the same mutation through GraphiQL, the connection is returned properly.

I am not sure if this is some kind of configuration issue, but I have no idea what could be causing this.

[2016-08-25 16:32] imzautomation commented on #33
@Ivarayut thanks I changed the path as suggested the server starts and when I go to graphql endpoint I don't see my django schema I see the schema from data folder , how do I connect my django graphql server to this app ? My django graphql is serving from http://localhost:8000/graphql and my schema.json is in back folder

[2016-08-26 03:16] lvarayut commented on #33
Unfortunately, I have never used Django before, can't really help you much. You might try to test your schema with GraphiQL. If it worked, the problem would be your Django setup. If not, the problem might be your schema.json.

[2016-08-26 03:45] lvarayut commented on #34
Thanks for your question. I think it's a mechanism inside Relay. You should be able to access  `tierItems` as normal inside your application.

[2016-09-02 14:51] #34 closed, assigned to nobody

[2016-09-02 14:53] Rohit-cheddr commented on #12
Any tips on how we can go about integration tests? It seems like the relay wrapper could cause issues if we do a full dom render.

[2016-09-02 14:55] lvarayut commented on #33
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2016-09-02 14:55] #33 closed, assigned to nobody

[2016-09-03 18:06] rohit-ravikoti opened #35 "Loading custom css for external libraries"
Hi!
This starter kit has been tremendously helpful in helping me get started. Just wanted to say thanks!

I was wondering how I would be able to include custom css files to override those provided by an external library (like auth0-lock). It looks like how stylesheets are currently loaded are through local scoping. Is there anything in place for global scoping?

Thanks!

[2016-09-04 02:03] lvarayut commented on #35
Hi @rohit-ravikoti! I'm very glad that this project's helpful to you. We're using css-modules to handle our css files, which are local scope by default. You can use `:global` keyword to switch to global scope, please take a look at the example on the [Exceptions](https://github.com/css-modules/css-modules#exceptions) for more details.

[2016-09-04 02:10] lvarayut commented on #12
@Rohit-cheddr, Unfortunately, we haven't explored the testing yet. Will let you know as soon as we can.

[2016-09-04 04:06] rohit-ravikoti commented on #35
got it! Thanks!

[2016-09-04 04:06] #35 closed, assigned to nobody

[2016-09-16 12:44] CDRO opened #36 "[FEATURE] webpack.config.js for server-side rendering"
Hello!

First of all, I'd like to thank you for this awesome work! This really got us kickstarted quite well and we'll be able to work with this as a solid base for our React projects! It's awesome!

Still, I found one major concern with the current state of the project and it's mainly SEO.

So, with webpack it is possible to render the HTML staticaly (https://github.com/webpack/react-webpack-serv

[2016-09-16 15:45] lvarayut commented on #36
Hi Tizian, Thanks for the question. I have planned to integrate server-side rendering for a long time. Unfortunately, I don't have time to do it very soon. Relay doesn't support server-side rendering out of the box. You might need to take a look at [isomorphic-relay-router](https://github.com/denvned/isomorphic-relay-router). A PR would be also very welcomed

[2016-09-16 18:41] kkostov opened #37 "Improving Heroku deploys"
I've used the yo generator to create a new solution and then directly publish it to Heroku.

This unfortunately did not succeed without some tweaks to the build tasks.
## Tweak 1

Heroku has a [60 second timeout](https://devcenter.heroku.com/articles/limits#boot-timeout) for apps to startup and bind to $PORT.

After some poking around, I discovered that the app was just taking too long to transpil

[2016-09-17 02:23] lvarayut commented on #37
Thanks @kkostov, that's the awesome improvement 👍. The PR would be very appreciated

[2016-09-17 02:34] lvarayut opened #38 "Integrate MongoDB with yeoman"
Integrate MongoDB in **canary** branch which will be used in our yeoman generator. Please take a look at #15 for more details

[2016-09-17 02:37] lvarayut opened #39 "Integrate MySQL with yeoman"
Integrate MySQL in **canary** branch which will be used in our yeoman generator.

[2016-09-17 02:38] lvarayut opened #40 "Integrate Postgres with yeoman"
Integrate Postgres in **canary** branch which will be used in our yeoman generator.

[2016-09-17 02:39] lvarayut opened #41 "Implement Yeoman sub-generators"
Implement Component, Container, Query, and Mutation in **canary** branch to be used in our yeoman generator.

[2016-09-17 02:40] lvarayut opened #42 "Implement JSON Web Tokens (JWT)"
Implement Signup and Login pages

[2016-09-17 02:51] #15 closed, assigned to nobody

[2016-09-17 09:55] #37 closed, assigned to nobody

[2016-09-17 23:17] ugiacoman commented on #40
Not sure about yeoman, but I am currently working on integrating with Postgres. I'll post back any success haha

[2016-09-18 02:32] lvarayut commented on #40
Thanks, @ugiacoman, that would be useful 👍

[2016-09-18 05:36] ugiacoman commented on #40
@lvarayut I ended up using [Postgraphql](https://github.com/calebmer/postgraphql) for the integration. So far it's working pretty well but not sure if that is the type of integration you'd like to go for. Essentially what it does is allow you to create an SQL schema and it takes care of the GraphQL usage.

[2016-09-18 13:25] lvarayut commented on #40
`Postgraphql` looks good to me. If you could integrate it with our yeoman, in the **canary** branch, that would be really helpful to a lot of people.

[2016-09-18 14:58] ugiacoman commented on #40
Sounds good, I'll toy around with it for a while, figure out the quirks, and send a PR. Unfortunately, can't give you an ETA.

[2016-09-19 02:04] lvarayut commented on #40
That's fine. Thanks @ugiacoman. Look forward for it 😄

[2016-10-02 04:15] Danjavia opened #44 "How to use multiple ViewerQueries"
I try to implement a relayContainer for some of components, but without success, ever need and ViewerQuery for this task.

Can U help me?

e.g. a postList component, userList component... etc.

[2016-10-02 07:00] lvarayut commented on #44
Hi @Danjavia, thanks for the question. Normally, you can reuse the provided [ViewerQuery.js](https://github.com/lvarayut/relay-fullstack/blob/master/client/routes/ViewerQuery.js) to create a new container.

[2016-10-03 03:48] Danjavia commented on #44
Ok Many thanks. I will to review this Many thanks.

[2016-10-03 05:19] ghost opened #45 "yeoman NPM start error"
Same error with node 6.6.0 or 4.5.0
events.js:141
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::3000
    at Object.exports._errnoException (util.js:907:11)
    at exports._exceptionWithHostPort (util.js:930:20)
    at Server._listen2 (net.js:1250:14)
    at listen (net.js:1286:10)
    at Server.listen (net.js:1382:5)
    at Server.listen (/Users/SAYCalifornia/Docu

[2016-10-03 14:52] #44 closed, assigned to nobody

[2016-10-03 15:22] lvarayut commented on #45
Hi @SAYDigital, thanks for the question. It seems like the port `3000` has been used by another application on your machine. You could try to kill that application and run `npm start` again.

[2016-10-04 00:12] Danjavia opened #46 "Error when run npm run deploy with browserHistory"
When running

[code]

the build dist run correctly but running on surge.sh or simple http server using python. the browserHistory doesn't show the routes.

On the other hand when run npm start the browserHistory runs perfectly.

Some idea?

[code]

[2016-10-04 14:48] lvarayut commented on #46
Thanks for the question. This seems to be not related to Relay Fullstack. You might need to consult the `react-router` team.  Please feel free to continue the discussion here if you had more question.

[2016-10-04 14:48] #46 closed, assigned to nobody

[2016-10-09 01:06] ugiacoman opened #47 "Production should not use babel-node"
Source: [Babel CLI Documentation](https://babeljs.io/docs/usage/cli/#babel-node)

Research that may help: https://medium.com/@Cuadraman/how-to-use-babel-for-production-5b95e7323c2f#.vg3mo8a5m

This is on my TODO list.

[2016-10-10 14:22] lvarayut commented on #47
Thanks @ugiacoman for reporting this issue. Any PR will be very welcomed.

[2016-10-12 23:32] arnif commented on #47
Here is my solution: #48

[2016-10-14 01:20] #47 closed, assigned to nobody

[2016-10-14 06:45] ghost opened #49 "Using node-dev?"
Wouldn't using node-dev be better than using node-demon? I recently switched to it and it seems good.

[2016-10-14 09:52] lvarayut commented on #45
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2016-10-14 09:52] #45 closed, assigned to nobody

[2016-10-14 13:36] lvarayut commented on #49
Thanks @pyros2097 for your suggestion. I've never used `node-dev` before. However, based on my first glance, there are some [critical issues](https://github.com/fgnass/node-dev/issues) such as
- Don't set NODE_ENV
- node-dev exits after restarting
- Doesn't run on Win 7

I don't think we should switch to it, at least for now.

[2016-10-23 17:49] crucialfelix commented on #33
I got them working and wrote up notes here: https://gist.github.com/crucialfelix/2b94528bf0817dfefe1c3258977fa478

[2016-10-23 18:49] Extra-lightwill commented on #12
@lvarayut Add Cassandra to database integration?

[2016-10-23 20:53] maksugr commented on #12
Do you think add react-mdl as default dependency is a good idea? It's seem like personal preferences.

[2016-10-23 21:00] maksugr commented on #12
Have you thought about implementation additional flux implementation (Redux?) for local state? With Relay it's difficult to work with local state that coming not from Relay (client side authorization and so on).

[2016-10-24 02:50] lvarayut commented on #12
@Extra-lightwill, Thanks for your suggestion. We could absolutely add it.

---

@maksugr:

You're absolutely right, we should replace it with vanilla CSS to be totally agnostic. PR would be really welcomed

In Relay2, which would be released very soon, will support a local state. We would prefer supporting Relay2 instead of implementing Redux.

[2016-10-24 02:55] lvarayut commented on #33
Thanks @crucialfelix for sharing this brilliant notes! Would you mind to put the notes inside our Relay Fullstack repository, would be inside `docs/how-to-integrate-graphene-django.md`? It would be very useful to many people.

[2016-10-24 15:06] imzautomation commented on #33
@crucialfelix @lvarayut  exactly what i was looking for thanks alot

[2016-10-25 15:55] crucialfelix commented on #33
Yes, let me flesh it out a bit more. I figured out how to do the `viewer { }`. I want to get it up and running properly, then I will submit a PR for you.

[2016-10-28 08:11] lvarayut commented on #49
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2016-10-28 08:11] #49 closed, assigned to nobody

[2016-10-30 10:55] crucialfelix commented on #33
Oh wait, you don't have a `docs/`

Where would you like me to put it ?

[2016-10-30 11:31] lvarayut commented on #33
Could you create it at the root directory and put the doc there?

On Sunday, October 30, 2016, Chris Sattinger notifications@github.com
wrote:

[2016-10-30 13:42] crucialfelix commented on #33
Sure if you like. Or you could use the wiki pages for extra docs. As you
like

On Sun, Oct 30, 2016, 12:31 Varayut Lerdkanlayanawat <
notifications@github.com> wrote:

[2016-10-30 14:48] lvarayut commented on #33
Thanks @crucialfelix, `docs/how-to-integrate-graphene-django.md` would be fine with me.

[2016-11-03 12:28] Magneticmagnum opened #53 "Fresh clone gives error when running `npm start`"
I'm on a Windows 7 Machine and followed the Readme's commands.
Node version: 6.9.1

After `npm start` I get the following:

[2016-11-03 12:31] Magneticmagnum commented on #53
Nevermind, I was able to run the start script commands individually...

[2016-11-03 12:31] #53 closed, assigned to nobody

[2016-11-03 22:57] rohit-ravikoti opened #54 "Relay not generating correct query after setVariable-- am I doing something wrong?"
Hi!
For some reason, if I generate a root query which takes in parameters before injecting the child component, like so:

[code]

Relay originally generates this query:
[code]
However, If the Component's relay container has variables of its own, running `this.props.relay.setVariables({...variables})` completely changes the request query generated by relay into something like this:
[code]

I'm not

[2016-11-14 08:59] lvarayut commented on #54
Sorry for my late reply. I think the query is already correct. Basically, when you use `setVariables({...variables})`, Relay tries to intersect the changes against the "tracked query". So, Relay could send only the changed parts across the wire for the sake of minimizing the network usage. You can learn more on this [video](https://www.youtube.com/watch?v=oPSuvaYmXBY).

[2016-11-25 01:51] ngocdiep commented on #53
I have the same issue with you. Could you tell me how to fix it?

[2016-12-06 02:55] Magneticmagnum commented on #53
For those reading this, it seems to be a pathing issue with Node and Windows.  Try running the npm start commands seperately:

```nodemon --watch server/data/**/*.js --exec \"npm run update ```

```./node_modules/.bin/babel-node server/index.js\```

[2016-12-06 14:47] lvarayut commented on #54
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2016-12-06 14:47] #54 closed, assigned to nobody

[2016-12-08 08:14] witbybit opened #58 "Deploying relay-fullstack on AWS"
Are there any instructions available on how to deploy this to AWS? I am new to AWS as well as Relay and my understanding is that I have to use AWS Elastic Beanstalk to deploy the backend and S3 for frontend.

[2016-12-09 03:05] lvarayut commented on #58
Hi @nikhilag, thanks for your question. We don't have any instructions for deploying to a specific platform right now, however, deploying Relay Fullstack on AWS shouldn't be different from deploying on other servers. [This article](https://docs.aws.amazon.com/codedeploy/latest/userguide/github-integ-tutorial.html) would help you get started.

[2016-12-10 19:53] Jordan-Hall commented on #53
Just to add to this.  It appears its because of the inner string. You could change it to this

`"start": "nodemon --watch server/data/**/*.js --exec  \"npm run update && npm run start-sub-task\"",
  "start-sub-task": "./node_modules/.bin/babel-node server/index.js",`

Then it all works

[2016-12-13 02:18] ngocdiep opened #59 "Show more function in the Feature list"
Hi there,
I'm the beginner in Relayjs. I just wanna add the show more function in the Feature list.
I tried to add the function like this:

[code]
but I got the error: TypeError: Cannot read property 'features' of null

Somebody can help me!!

Best regards

[2016-12-13 03:38] lvarayut commented on #59
Hi @ngocdiep, thanks for the question. The error might occur [here](https://github.com/lvarayut/relay-fullstack/blob/master/client/components/Feature/FeatureComponent.js#L18). I'm not sure why `this.props.viewer` is `null`.  You might want to start checking from there.

[2016-12-13 03:43] lvarayut commented on #53
Thanks @Magneticmagnum , @Jordan-Hall  for sharing the solutions.

[2016-12-13 05:00] ngocdiep commented on #59
Hi @lvarayut,
Thanks for your answer!
I haven't found the solution yet to fix that.
It's very great if you can add some functions like search, paging or load more to this project!

Best thanks,

[2017-01-01 12:13] nsuthar0914 commented on #30
@Rohit-cheddr @lvarayut what happens to schema.json provided to babel-relay-plugin. Do we need to keep a copy of schema.js on the client and updateSchema locally?

[2017-01-04 04:35] lvarayut commented on #59
Hi @ngocdiep, thanks for your suggestion. I will need to focus on the main functionalities listed on #12 first, but any PR would be really welcomed. I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2017-01-04 04:35] #59 closed, assigned to nobody

[2017-01-04 04:39] lvarayut commented on #58
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2017-01-04 04:39] #58 closed, assigned to nobody

[2017-01-04 06:46] lvarayut commented on #30
Hi @nsuthar0914, I wouldn't keep a copy of `schema.js`. I would, however, write a script to automatically generate the `schema.json` from the external graphql server, here is an example of the script:

[code]

[2017-01-06 16:14] Neitsch opened #60 "Migrate Relay Mutation"
Relay 2, which is supposed to be there soon changes the style of mutations. This part is already publically available and represented in the API (https://facebook.github.io/relay/docs/api-reference-relay-graphql-mutation.html). In addition these mutations are simpler to write. Thus the feature mutation should be changed to be a Relay.GraphQLMutation

[2017-01-07 05:28] lvarayut commented on #60
Hi @Neitsch, thanks for your suggestion. This is absolutely important, PR would be really welcomed.

[2017-01-14 02:59] robrobkay51 commented on #12
@lvarayut  How far along is the database integration currently/ is there a rough timeframe on it?

[2017-01-14 07:41] lvarayut commented on #12
Hi @robrobkay51, sorry, I don't have any timeframe, for now, I will let you know if there is any update.

[2017-01-14 15:35] robrobkay51 commented on #12
@lvarayut I don't know if anyone's made any progress already but what about https://github.com/mickhansen/graphql-sequelize for MySQL and PostgreSQL and https://github.com/masumsoft/express-cassandra for Cassandra. MongoDB im not sure.

And for JWT auth one of the below:

https://github.com/auth0/express-jwt
https://github.com/hokaccha/node-jwt-simple

Also worth noting re: server-side rendering,

[2017-01-15 00:54] robrobkay51 commented on #36
The Relay 2 (release date supposedly soon but not yet confirmed) approach to SSR might be of interest here:

"Our overall approach with the new core has been to build simple primitives that can be built upon in user space. So for example, there is a clear separation of the React integration layer and the core - the former being implemented entirely via the public API of the latter. It might take a

[2017-02-01 18:43] Neitsch commented on #60
Was a little busy, will try to get on that now.

[2017-02-02 02:56] lvarayut commented on #60
Thanks @Neitsch 👍  Look forward for it.

[2017-02-11 19:57] Extra-lightwill opened #66 "Relay debugging."
I'm frequently running into a situation where my application is syntactically correct but it is only rendering a blank screen (due to a Relay error).

The problem is that there's no indication of where the exact is occurring so it's very difficult to debug.

What is the best way to solve this issue (aside from rebuilding my app piece by piece until I locate the error since it's very inefficent)?

[2017-02-12 00:59] Neitsch commented on #66
My first approach would be to look at the log, whether it actually successfully built (scroll up). After that, in the graphqlhttp setup, add after schema a function for formatError, that can help you with those kinds of ill formatted queries. Further, don't forget to install React debugging tools, they will also show you relay/graphql queries.
Apart from that you can also add logging (a PR is alwa

[2017-02-12 15:28] Extra-lightwill commented on #66
@Neitsch In answer to your question 'what relay errors are omitted?', here is an example of exactly what I'm describing: https://github.com/Extra-lightwill/graphql-sequelize-repo-test - I'd be really grateful if you could take a look!

If you start the application (npm install, npm start) and then navigate to http://localhost:4444/db-test you will see the issue - the App is rendering the main land

[2017-02-13 16:08] ncrmro commented on #66
@Extra-lightwill haven't looked at your example atm.

Can you check the graphql requests in chrome dev tools these will show an error. If there are any errors on the initial route query your the page won't render.

![graphql](https://cloud.githubusercontent.com/assets/8276365/22891103/e48e7820-f1d3-11e6-99c5-2196ac380b9f.jpeg)

[2017-02-13 19:47] Extra-lightwill commented on #66
@ncrmro ah i see, that seems to pinpoint the error which is what I was looking for - thanks!

One more thing, this seems stupid (and probably self-explanatory) but, just to be sure, what/where exactly is line/column (from the error) referring to in the application?

**example error:** locations :[{line: 7, column: 3}]

[2017-02-14 00:59] Neitsch commented on #66
@Extra-lightwill tried to run the code in your repo with commit db766e1504b3ab57a0d75ce0a28b642bbbb14ee7, since that was the latest commit at the time of writing. It fails on schema.js:144

Again, I'd recommend looking into formatError, found in the docs (https://github.com/graphql/express-graphql)

[2017-02-14 14:29] Extra-lightwill commented on #66
@Neitsch I've added this, it works great. thanks for the advice :)

For anyone who might be experiencing the same,here's the code for including it:
https://github.com/Extra-lightwill/gql-sequelize-ver01/blob/master/server/index.js#L13 + https://github.com/Extra-lightwill/gql-sequelize-ver01/blob/master/server/index.js#L30

@Neitsch Also, pretty unrelated but in terms of SQL integration for Relay f

[2017-02-15 23:43] rogersp opened #67 "React hot loader not working?"
Running into an issue where hot reload of React components is not working as expected. There is a HMR warning in the console which may be related:

![image](https://cloud.githubusercontent.com/assets/2909421/23000067/a60d8cf0-f393-11e6-83b4-087ed6c63c71.png)

Here are the steps I've performed, on a Win10x64 machine:

- Clone repo
- `npm install`
- Change `package.json` scripts entry for `start`

f

[2017-02-16 00:52] Neitsch commented on #67
I can confirm the error, but the fix does not work for me (please let us know which babel-cli/babel-node version you use). I'd speculate that react-hot-loader causes this, last updated in #62. However, before the PR, the error message was

@ncrmro might be more familiar with HMR

[2017-02-16 01:01] Neitsch commented on #66
Thanks for the invite. Right now I'm fairly busy, I'll try to get around to it this weekend.
A while back I've tried a MongoDB integration (https://github.com/Neitsch/relay-fullstack/tree/mongo), but it's not great.
I was planning to stay away from sequelize, because I don't like ORMs (If you're interested http://www.yegor256.com/2014/12/01/orm-offensive-anti-pattern.html), but I might reconsider

[2017-02-16 14:21] ncrmro commented on #67
@rogersp @Neitsch can confirm master and canary branches HMR isn't being triggered atm. Checking it out.

[2017-02-16 15:27] ncrmro commented on #67
Actually that was cause I had two webpack dev servers except custom ports were sending one's request to the other.

HMR is working with the latest canary branch. I've just checked.

 I'm working on  OS X. Haven't done much dev on windows.

[2017-02-16 17:39] Extra-lightwill commented on #66
@Neitsch Yeah exactly, I think it provides a good abstraction, especially with so many moving parts. Cool, look forward your contribution :)

[2017-02-16 19:00] rogersp commented on #67
@Neitsch @ncrmro  can confirm HMR does work for react components in canary branch on Windows.

[2017-02-17 17:03] ncrmro commented on #42
Thinking how we can flesh out the auth flow process a bit while still using a static backend.

## Components

* signup - needs validation
* login
* edit user account (used to test authenticated redirect for now?)

### navbar
* Should show signout and authenticated routes when logged in
* Sign out

## jwt token logic
### Client
* signup/login Mutation should return jwtToken
* refresh page after mut

[2017-02-17 17:09] ncrmro commented on #67
@rogersp great going to close for now!

[2017-02-17 17:09] #67 closed, assigned to nobody

[2017-02-17 17:10] ncrmro commented on #66
@Extra-lightwill @Neitsch cool stuff, going to close for now!

[2017-02-17 17:10] #66 closed, assigned to nobody

[2017-02-17 17:21] ncrmro opened #70 "Testing and CI"
At the moment I have a project that whenever the repo get's pushed to has circle ci
* build the project
* tests graphql end point query works
* uses selenium to
  * navigate to a few pages to make sure they load
  * test form validation errors such as sign up form
  * takes a picture which circle ci stores

I'd like to add some of this testing to this project.
I'm thinking the first pull request w

[2017-02-17 17:24] Neitsch commented on #42
I mostly agree.

- The easiest way to think about authentication is to have the viewer root query return null, if the no user exists, no token exists or the token is expired. Then if viewer is null, use router to redirect.
- It should be possible to log a user in without a page reload. Should just be a matter of either FIELD_CHANGE mutation or using new Relay.Environment
- We can access the reques

[2017-02-17 17:34] ncrmro commented on #42
@Neitsch I've used this post as guidance atm

http://stackoverflow.com/questions/32535141/relayjs-authentication-using-relay-which-mutation-to-use

The viewer object always has the same viewer id, but with the token the viewer object then has a user object. Feels very hackish.

Looking to see if relay 2 makes this easier.

Edit: @Neitsch also does everything still work if the viewer is null?

[2017-02-17 19:44] ncrmro commented on #70
[This](https://github.com/lvarayut/relay-fullstack/pull/71) pull request has a pretty simple ci config to get things moving.

Let me know what guys thinks if you like the idea or not.

[2017-02-17 21:41] Neitsch opened #72 "Merge canary and master"
I think we should merge canary back into master. It's hard to keep both branches in sync.
Thoughts?

[2017-02-17 22:44] Neitsch commented on #42
Good point. So, how I see it is, that the viewer query is without arguments, so no ID or anything. It returns the user mapped to that token, which then has the ID of the viewer assigned. The root query does not contain any arguments concerning the user ID, that should all be done on the backend:
If I query `viewer { username, id }`, it will return `{ username: 'Neitsch', id: 1234 }`, but maybe I'm

[2017-02-17 23:07] ncrmro commented on #42
Sign in forms on submit

[code]

[2017-02-17 23:24] ncrmro commented on #42
@Neitsch Yes thats my understanding as well.

The server reads the JWT Tokens Payload.
It should be a valid token.
The payload has a userID and sense it's signed and not expired we can trust it's validity

This medium post is usefull.
[GraphQL Field Guide to Auth
](https://medium.com/front-end-developers/graphql-field-guide-to-auth-ead84f657ab#.hw0i75nuv)

[2017-02-17 23:33] Neitsch commented on #42
Ah okay, I read up on it a little bit. My understanding of JWT was wrong.
That Medium post looks good, doesn't use Relay though, so we might have to play with that, if we follow their strategy for authorization. The authentication code lgtm.

[2017-02-17 23:53] ncrmro commented on #42
This also has a really nice pattern that has the jwt token in the graphql query
[GraphQL and Authentication](https://medium.com/the-graphqlhub/graphql-and-authentication-b73aed34bbeb#.as6537ytj)

I actually like this option a lot

[2017-02-18 00:04] Neitsch commented on #42
This was the concept I was thinking about above. I know how to do this with cookies. Not sure if JWT changes anything 😄

[2017-02-19 22:33] Extra-lightwill commented on #12
@Neitsch and myself are currently working on a mini-project to demonstrate SQL database integration. If anyone wants to contribute, please feel free to add to this repo: https://github.com/Extra-lightwill/gql-sequelize-ver01.

Currently, database models, mapping and schema are setup (AFAIK, correctly). Hopefully, with this, we can demonstrate how to provide full integration with SQL databases for

[2017-02-20 14:56] lvarayut commented on #70
Totally agree with you! Testing and CI are the missing parts in Relay Fullstack.

[2017-02-20 15:42] lvarayut commented on #72
Totally agree with the hardness of keeping both branches in sync. The only problem is that Flow type, databases, and much more should be optional, which should be done using Yeoman. If we merge **canary** and **master**, this will force all users to use Flow type, our chosen database, and etc. Here is my [initial thought](https://github.com/lvarayut/relay-fullstack/issues/12#issuecomment-220914993

[2017-02-20 17:12] Neitsch commented on #72
Okay, then I'll seriously look into subgenerators :)

[2017-02-24 13:50] AdamZaczek opened #77 "Compiling server with a webpack instead of babel-node script"
Wouldn't that be more real-life like? I can submit a pull in a weekend ;)

[2017-03-06 16:37] ncrmro commented on #70
So I've been thinking the best way to incorporate tests into the canary branch before further investigating. Which should technically use yo to generate the project and test that rather than the branch?

[2017-03-06 18:06] Neitsch commented on #70
Master and canary don't use yo currently. Check out my PR to incorporate it.

[2017-03-08 18:37] lvarayut commented on #77
I still keep looking very much forward to your awesome PR 😄

[2017-03-08 20:21] AdamZaczek commented on #77
Thanks for reminder, already did so ;)  Here lives the not so huge pull: https://github.com/lvarayut/relay-fullstack/pull/78

[2017-03-09 09:49] #77 closed, assigned to nobody

[2017-03-15 22:18] toobulkeh commented on #30
@lvarayut -- is this supported by default on graphql? Or does the `__schema` need to be added to the backend somehow?

I'm using a custom Laravel GraphQL implementation, as well as an implementation from graphcool (for learnrelay.com).

Thanks!

[2017-03-16 10:01] lvarayut commented on #30
Hey @toobulkeh, not sure if I understand your question correctly, but normally, we don't need to manually manage the `__schema` by ourselves.

[2017-03-16 13:44] toobulkeh commented on #30
Unfortunately your script above didn't work for me, as it couldn't verify the `schema`

[This library](https://github.com/yoctol/fetch-graphql-schema) worked well for me, as a starter script in `package.json`:

[code]

[2017-03-21 06:44] BlakeBrown opened #80 "HMR not working for variables.scss"
Quick question! Disclaimer: Noob to webpack & HMR

If I change colours in say App.scss:

[code]

to

[code]

the app will reload no problem. However if I make changes in variables.scss, say:
`$white: #FFFFFF;`
to
`$white: #EEE;`

... then the app will fail to reload. Is there any explanation for this?

[2017-03-22 10:56] lvarayut commented on #80
Hey @BlakeBrown, thanks for your question. It's because the `variables.scss` has never been imported and used in any component. On the other hand, `App.scss` has been imported and used in [AppComponent.js](https://github.com/lvarayut/relay-fullstack/blob/ba98462ecb3c57e9b24670f5bb5ad81521048818/client/components/App/App.scss). That's why HMR can detect any changes from `App.scss`

[2017-03-23 18:54] BlakeBrown commented on #80
@lvarayut thanks so much for getting back to me! I guess it's a little bit of a "gotcha" that nested imports don't cause reloads, but I guess you can always restart the server if you need to.

Loving this starter kit so far, thanks a lot! :)

[2017-03-23 20:39] lvarayut commented on #80
You're very welcome :), glad that you love Relay Fullstack.I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question!

[2017-03-23 20:39] #80 closed, assigned to nobody

[2017-03-28 18:37] reinert commented on #31
@TheoMer THANK YOU! Saved my day!

[2017-03-29 07:47] BlakeBrown opened #83 "Question - Integrating Socket.io"
Just curious how to go about integrating socket.io into this stack?

Socket.io docs say to use:
[code]

However, passing relayServer fails since it's a WebpackDevServer. Not sure how to resolve this while keeping HMR functional.

[2017-04-04 13:39] lvarayut commented on #83
It's a long time that I don't touch Socket.io. I'm not quite sure if I could help here. Could you take a look on https://github.com/webpack/webpack-dev-server/issues/76 and https://stackoverflow.com/questions/33584724/how-to-use-socket-io-together-with-webpack-hot-middleware?

[2017-04-08 13:28] graforlock opened #84 "Warnings about PropTypes and React.createClass"
Just cloned and did `npm install` and when it compiles, console shows:

[code]

[code]

It did not do it a couple of days ago, i am guessing its something new?

[2017-04-08 13:44] Neitsch commented on #84
Yep, FB merged a huge PR recently. Will fix, PR is also welcome.

[2017-04-08 13:45] ncrmro commented on #84
Newest version of react is moving prototypes and createclass to its own package

[2017-04-08 16:00] Neitsch commented on #84
All our React classes are ES6, this warning is coming from react-router, please file an issue there.

[2017-04-08 16:02] Neitsch commented on #84
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

[2017-04-08 16:19] Neitsch commented on #84
Thanks for reporting. I opened the PR, other than that we will have to wait for all dependencies to update. If this problem persists in two weeks, feel free to reopen, so that we find a workaround.

[2017-04-08 16:19] #84 closed, assigned to nobody

[2017-04-08 17:20] #60 closed, assigned to nobody

[2017-04-09 05:03] Neitsch commented on #83
For dev you will have to proxy webpack dev server (https://github.com/webpack/webpack-dev-server/issues/283#issuecomment-162163329). For prod you will need to proxy via express (https://github.com/chimurai/http-proxy-middleware/blob/master/examples/websocket/index.js).

Please close unless you need any more help 😄

[2017-04-09 20:05] BlakeBrown commented on #83
Thank you guys! I think that's enough to get me started :)

Feel free to close the issue!

[2017-04-09 20:10] #83 closed, assigned to nobody

[2017-04-13 19:44] Neitsch commented on #72
I've created a new branch yeoman-experimental. Please look into it, if it makes sense. I can't PR it to yeoman-generator, because GH won't let me.
@lvarayut you will need to add keys. You can base it on this tutorial (https://gist.github.com/domenic/ec8b0fc8ab45f39403dd). Since we're using circle CI you'll have to replace the call to travis encrypt with the raw call (https://github.com/circleci/en

[2017-04-14 16:18] lvarayut commented on #72
Hey @Neitsch, thanks for creating the experimental branch. It's going in the right direction that we were discussing. I think the easiest way that we could do is to move all the files inside the `canary` branch into `generators/app/templates` folder, inside the `yeoman-generator` branch. So, our `yeoman-generator` will work as expected.

Then, we could write a script to automatically generate the

[2017-04-15 18:36] Neitsch commented on #72
Yeah, I guess I can do the whole thing from the generator branch instead. Will work on the PR soon then.
My plan is to first only generate canary. After that I'll add a flag `--master` or something like that and work with jinja templates, so that we can generate `master` or `canary` from the same codebase.

[2017-04-15 21:49] lvarayut commented on #72
Sounds like a great plan! :) I think after merging canary into yeoman-generator, we won't need to generate canary anymore, it'll be removed completely. We'll need to generate only the 'master' branch.

Looking forward to seeing your awesome PR ;)

[2017-05-16 02:48] haruthuc opened #89 "Have a plan to upgrade from Relay Classic to Relay Modern ?"
Hi, I'm newbie with React & Relay , GraphQL. I very liked relay-fullstack repo. Have a plan to upgrade Relay Classic to Relay Modern ?

[2017-05-16 02:51] arvinsim commented on #89
I think this would be great since Relay Modern was just recently released. A lot of people would want to try it out, especially those who want to compare it with Apollo.

[2017-05-16 04:42] Neitsch commented on #89
I wish we could. We are waiting for a upstream dependency. Canary has it integrated ( #86 ), but unfortunately I don't feel comfortable integrating it into master until react-router-relay merges the changes ( relay-tools/react-router-relay#235 ).
Cheers

[2017-05-28 14:13] mayhs19 commented on #89
Hi All,
What is the current status of this upgrade ? Will there be a merge to master sometime soon ?

[2017-05-28 18:52] fameoflight opened #90 "Queries not working in children components"
Any idea why you need to explicitly pass viewer to Footer rather than it picking it up from FooterContainer

https://github.com/lvarayut/relay-fullstack/blob/master/client/components/App/AppComponent.js#L28

[2017-05-28 22:28] Neitsch commented on #89
TBH, I don't think so, but you should be able to work off experimental (I actually prefer that branch, since it adds flow). We will need a week after the new release of relay router.

[2017-05-28 22:32] Neitsch commented on #90
Have you tried removing it? It might just be an error on my part. I'll have a look in the next days.

[2017-05-28 22:33] fameoflight commented on #90
Yeah i did try removing it it didn't work.

On Sun, May 28, 2017, 3:32 PM Nigel Schuster <notifications@github.com>
wrote:

[2017-05-28 22:45] Neitsch commented on #90
Ah, actually the code is right. Relay does not inject props. It's mostly used for queries. See a similar Todo example.
https://github.com/relayjs/relay-examples/blob/master/TodoMVC/components/TodoList.js

[2017-05-28 22:50] #90 closed, assigned to nobody

[2017-05-29 03:14] mayhs19 commented on #89
Thanks for the update !

[2017-05-29 05:11] fameoflight commented on #90
@Neitsch is there any way to make queries work in children components I thought the whole point of relay was to keep queries near to component. This kind of break that paradigm.

[2017-05-29 15:21] Neitsch commented on #90
The query still does it's job and is right by the component. It's all more about what attributes will be fetched / needed and whether to rerender.

[2017-06-02 16:45] lvarayut commented on #89
@Neitsch, the issue on `react-router-relay` has been merged. Would you like to merge the canary to master now?

[2017-06-02 16:52] lvarayut commented on #72
@Neitsch, could you please update the current status of this issue? I'll be free this weekend, would like take some tasks of the issue.

[2017-06-02 21:36] apage224 opened #91 "id should be strings not int ?"
I believe I found an issue with the way IDs are being used in the example. database.js uses **int** type for IDs rather than **string** type. In schema.js the queryType uses getUser(1) using **1** for the resolver of viewer. However, in nodeDefinitions the first method uses fromGlobalId which I believe returns an id as a string. Thus when type is 'User' the getUser(id) will have an id of **'1'** w

[2017-06-08 05:31] Neitsch commented on #89
Oh yeah, I forgot about that. Will try to get around to that soon!

[2017-06-08 05:32] Neitsch commented on #72
Hi @lvarayut , sorry I've been slacking off on work. Right now work is pretty busy. We'll first have to merge relay router. Then we we have a good working basis to get the generator going.

[2017-06-08 05:33] Neitsch commented on #91
Thanks for spotting that! Yeah, at some point I changed IDs to int, but must have missed that instance. Will address this (or you can PR).
Concerning react-mdl, a PR is also welcome :)

[2017-06-13 21:48] nicois commented on #89
any updates? We are about to kick off a new project and really want to start with the cleaner relay modern, based on the rest of what you have done.

[2017-06-14 06:38] Neitsch commented on #89
I apologize that this is taking so long. Work is keeping my very busy right now. I'd recommend to use the experimental branch, since it is on modern and gives you some extras too. Simply replace the reference to my repo with the router version for modern.

[2017-06-14 23:39] JasonShin commented on #89
I can probably have a look at implementing few roadmap items to canary branch this weekend (browsersync and JWT). What do you think about having dockerfile example as well (+ docker compose for frontend and backend orchestration)?

[2017-06-21 15:47] lvarayut commented on #89
I'm updating all the dependencies to the latest versions and will merge the `canary` to the `master` very soon.

[2017-06-24 16:07] lvarayut commented on #72
I've merged the canary into master.  We would stop maintaining the yeoman branch for now until we can find a good way to maintain it.

**In conclusion: two active branches:**
`master` contains stable code
`canary` contains experimental code that might not be stable yet.

[2017-06-24 16:07] #72 closed, assigned to Neitsch

[2017-06-24 16:08] lvarayut commented on #89
Closed by https://github.com/lvarayut/relay-fullstack/issues/72#issuecomment-310847653

[2017-06-24 16:08] #89 closed, assigned to nobody

[2017-06-24 16:08] #41 closed, assigned to nobody

[2017-06-24 16:09] #40 closed, assigned to nobody

[2017-06-24 16:09] #39 closed, assigned to nobody

[2017-06-24 16:09] #38 closed, assigned to nobody

[2017-06-26 20:36] lvarayut commented on #91
@apage2, the issue's fixed in https://github.com/lvarayut/relay-fullstack/pull/93. Regarding the `react-mdl`, we plan to remove it entirely and use just a vanilla css 😄

[2017-06-26 20:36] #91 closed, assigned to nobody

[2017-06-27 15:40] ncrmro commented on #42
I have a lot of the client code [here](https://github.com/ncrmro/reango/tree/master/client/modules/auth)

Name
isAuthenticated and Authenticated Route higher order components in utils.js.

Some logic in regards to checking, setting and handling expired jwt tokens is in jwtUtils file.

[2017-06-27 18:50] lvarayut commented on #42
That's looking very good to me 💯. It would be great if you could integrate the code into Relay Fullstack

[2017-06-29 16:25] ncrmro commented on #42
@lvarayut definitely going to try to look into this the next few days.

[2017-06-30 13:51] jkettmann opened #94 "Security issue with deploy script"
All server side files are exposed when running the deploy script. You can see the file structure afterwards in the following image. The compiled app files are located next to the compiled server files.

![screenshot 2017-06-30 15 34 31](https://user-images.githubusercontent.com/9722792/27738444-a336ce7e-5dab-11e7-8d34-98a2d0804c61.png)

This directory is made public via express.static. So if you u

[2017-06-30 14:04] ncrmro commented on #94
@jkettmann Thanks for discovering this potential issue, we love pull requests! Also maybe you could post some potential solutions here we could discuss.

[2017-07-01 08:08] #94 closed, assigned to nobody

[2017-07-03 11:50] claym commented on #53
Might be a good idea if @Jordan-Hall's fix made it into the code base (I don't have a non-windows machine to test on).

If I wasn't so stubborn I would have just bounced off this error the first time I ran into it :)

[2017-07-03 16:21] lvarayut commented on #53
@claym, it's actually made into the [code base](https://github.com/lvarayut/relay-fullstack/blob/master/package.json#L6) 😄

[2017-07-03 18:28] claym commented on #53
Odd, I did a fresh pull this morning and got the error above. Jordan's solution fixed it.

[2017-07-03 19:18] lvarayut commented on #53
Then, if you could test the solution and send a PR, that would be awesome.

[2017-07-06 00:00] claym commented on #53
Done!

[2017-07-10 03:17] sanjeevmalagi1 opened #97 "'.' is not recognized as an internal or external command, operable program or batch file"
I am having trouble starting relay-full stack project. Plz Help
[https://stackoverflow.com/questions/44970484/is-not-recognized-as-an-internal-or-external-command-for-relay-full-stack/44983742#44983742](https://stackoverflow.com/questions/44970484/is-not-recognized-as-an-internal-or-external-command-for-relay-full-stack/44983742#44983742)

[2017-07-10 08:04] lvarayut commented on #97
Did you try with the latest version of Relay Fullstack? Because the problem should have been solved with https://github.com/lvarayut/relay-fullstack/pull/96

[2017-07-10 10:52] eyalliebermann opened #98 "watchman installation should be included in the README instructions"
The README instructs new users to clone install and start.
This doesn't work for those of us who have not installed watchman on their machine

## Expected Behavior

I think before the npm install, npm start phase users should be advised to verify they have watch do following the following [link](https://facebook.github.io/watchman/docs/install.html)

## Actual Behavior

## Steps to Reproduce

Just

[2017-07-15 12:39] lvarayut commented on #98
Thanks @eyalliebermann for the suggestion. You're absolutely right, we need to add that to the README. A PR would be very welcomed :)

[2017-07-15 12:41] lvarayut commented on #97
I'm going to close this issue since the issue has been solved with #96 . Please feel free to continue the discussion here if you had more question.

[2017-07-15 12:41] #97 closed, assigned to nobody

[2017-07-23 19:36] lvarayut commented on #98
Added in https://github.com/lvarayut/relay-fullstack/commit/67d9b312b0dc9c33af96cbd44eba5ae639c3bcc7

[2017-07-23 19:36] #98 closed, assigned to nobody

[2017-08-06 08:54] webmobiles opened #99 "warning "webpack-dev-server@2.5.0" has incorrect peer dependency "webpack@^2.2.0"."
## Actual Behavior
when i execute 'yarn install'

I get:
warning "webpack-dev-server@2.5.0" has incorrect peer dependency "webpack@^2.2.0".

i'm using node v8.1.2

[2017-08-06 09:10] webmobiles opened #100 "ERROR in TypeError: Cannot read property 'request' of undefined"
when i execute npm install i got errors
## Actual Behavior

ERROR in   TypeError: Cannot read property 'request' of undefined

  - ExternalModuleFactoryPlugin.js:37 handleExternals
    [pelerelay]/[html-webpack-plugin]/[webpack]/lib/ExternalModuleFactoryPlugin.js:37:33

  - ExternalModuleFactoryPlugin.js:46 next
    [pelerelay]/[html-webpack-plugin]/[webpack]/lib/ExternalModuleFactoryPlugin.js:46:

[2017-08-07 00:04] Neitsch commented on #99
Could you try pinning the version to 2.2.0 (by removing the ^ in the line for the webpack dependency).

I'll try to look into what's causing this issue.

[2017-08-08 19:13] lvarayut commented on #100
I can't reproduce the error on MacOS, I cloned the fresh project and successfully run `npm install`. Could you explain the steps to reproduce the error? This https://github.com/jantimon/html-webpack-plugin/issues/705 would be a great resource as well.

[2017-08-09 16:02] hubert-associates opened #101 "Material Design Light futures?"
Now that google is no longer supporting Material Design Light, roadmap update? Thanks!

[2017-08-09 16:19] lvarayut commented on #101
Thanks for reporting. This's actually in our [Roadmap](https://github.com/lvarayut/relay-fullstack/issues/12#issuecomment-255637105), PR will be very welcome.

[2017-08-09 16:19] #101 closed, assigned to nobody

[2017-08-09 19:15] hubert-associates commented on #101
Thanks, PR to what though? -- there is nothing comprable to MDL that I know. Also, relay modern is probably an easier step first.

[2017-08-09 19:34] lvarayut commented on #101
As mentioned in the Roadmap,  MDL should be replaced with the vanilla CSS.

[2017-08-11 08:48] protobuff3r commented on #100
I have the same error on Linux Mint with yarn and yarn start.
npm install and npm start working successfully.
Delete the yarn.lock, than yarn also works.

[2017-09-06 09:51] manh-vv commented on #100
It seem that `yarn` is not good here.
[code]
I have the same error when
[code]

[2017-09-18 11:12] neosarchizo opened #102 "How to use subscription"
I also asked thie question in [stackoverflow](https://stackoverflow.com/questions/46255654/how-to-use-subscription-of-graphql-in-graphql-js). But anyone doesn't answer the question.

I saw [the post](http://graphql.org/blog/subscriptions-in-graphql-and-relay/) about subscription of GraphQL. I want to use subscription of GraphQL in relay-fullstack.

How can I use subscription of GraphQL in relay-fu

[2017-09-18 11:46] Neitsch commented on #102
The issue of subscriptions is nothing specific to this project. You might want to create an issue in graphql, that it is lacking documentation.
The code to support it is here: https://github.com/graphql/graphql-js/tree/master/src/subscription
I think this tutorial will be helpful https://medium.com/react-native-training/building-chatty-part-6-graphql-subscriptions-b54df7d63e27
Once you have set up

[2017-09-18 11:46] #102 closed, assigned to nobody

[2017-09-18 13:15] neosarchizo commented on #102
@Neitsch  Thanks!! It was a lot of help!
If I figure out, I'll share how to do it!

[2017-09-21 13:23] stemda opened #103 "Uncaught TypeError: Cannot read property '__id' of undefined"
I just cloned the repository and the following trace shows up in the browser after running "npm install && npm start". Has anyone else had this problem?

`Uncaught TypeError: Cannot read property '__id' of undefined
    at eval (webpack:///./client/components/Footer/FooterContainer.js?:45:34)
    at classic (webpack:///./client/components/Footer/FooterContainer.js?:51:10)
    at getClassicNode (we

[2017-09-22 11:54] Neitsch commented on #103
Yo relay-fullstack is an outdated version. I'll try to have a look at it soon.

[2017-09-22 12:32] stemda commented on #103
Thanks for your response @Neitsch, I'd really appreciate it. Still trying to wrap my head around the whole Relay-GraphQL stuff so I can't be of much help unfortunately.

[2017-09-24 02:18] Neitsch commented on #103
I'm not hitting this error. Would you mind removing the node_modules and installing dependencies again? I suspect that Relay was broken.

[2017-09-25 06:18] stemda commented on #103
Okay, after cloning the repo into a new folder everything works like a charm.  Weird, reinstalling the modules was actually one of the first things I tried when I encountered the error. Thanks again and sorry for robbing you of your time.

[2017-09-25 12:27] #103 closed, assigned to nobody

[2017-09-25 16:37] Neitsch commented on #100
Probably need to update `html-webpack-plugin` and `yarn`. Try this and let me know whether it works please :) https://github.com/facebookincubator/create-react-app/issues/2352

[2017-09-25 16:42] webmobiles commented on #100
this repo , it works very well: https://github.com/jferrettiboke/react-auth-app-example

[2017-09-25 17:02] Neitsch commented on #99
Feel free to comment and reopen if this is still an issue.

[2017-09-25 17:02] #99 closed, assigned to nobody

[2017-10-08 10:18] CostaRico opened #107 "Redirect to login page and network layer"
I've tried to use network layer to redirect user to user page if status code is 401, but I dont know how to make redirect from callback:

[code]

If I just remove token in tokenRefreshPromise and check it out in onEnter hook, user is able to open route because onEnter fires before tokenRefreshPromise.

What is the right way to redirect user to login page?

Thx a lot!

[2017-10-08 14:39] Neitsch commented on #107
I've been wanting to migrate to Relay Modern for a while, but have been pretty busy. If we use that, then you'll be able to handle the network layer more manually.
However, given that you are using react-relay-network-layer more than anything else, you should ask it there. Please do not file an issue in multiple places.

[2017-10-08 14:39] #107 closed, assigned to nobody

[2017-11-25 13:06] lvarayut commented on #100
The issue should be solved in https://github.com/lvarayut/relay-fullstack/commit/904d83e8036961ca16dc7e83cc21e4fa1aa4056a. Please feel free to let us know if you still experienced the problem.

[2017-11-25 13:06] #100 closed, assigned to nobody

[2018-01-24 14:42] va1729 opened #108 ".gitignore not generated using advanced method"
Thanks for the awesome starter kit!

The .gitignore file is not generated when I used the Yeoman. I manually copied the .gitignore and pasted it into my codebase. Please close the issue if there is a valid reason for not generating it.

## Expected Behavior
It should generate .gitignore

## Actual Behavior
It did not generate .gitignore file

## Steps to Reproduce
Follow the installation instructi

[2018-01-25 19:24] lvarayut commented on #108
Thanks @Vivekananda-Athukuri for reporting. We decided to drop the yeoman support, the yeoman branch won't contain the latest code version, please read more about it here https://github.com/lvarayut/relay-fullstack/issues/72#issuecomment-310847653. Please follow this [instruction](https://github.com/lvarayut/relay-fullstack#basic) to get the latest version.

[2018-02-02 18:56] lvarayut commented on #108
I'm going to close this issue for now. Please feel free to continue the discussion here if you had more question.

[2018-02-02 18:56] #108 closed, assigned to nobody

[2018-04-23 13:00] gvortel commented on #31
@TheoMer you are the man! Thank u

[2018-05-30 03:36] reactor81 opened #109 "SSL in dev and prod?"
I don't see a way to do ssl in dev and prod. Is this possible with the webpack and HL running? Has anyone seen a tutorial / PR for this?

[2018-05-30 08:53] ncrmro commented on #109
@reactor81 I believe this is outside of the scope of this project and webpack.

Essentially you could try a reverse proxy like apache, nginx, or traefik.

[2018-05-30 08:56] reactor81 commented on #109
Ah, yes, I could see how it might be out of scope, @ncrmro , thanks. Will close.

[2018-05-30 08:56] #109 closed, assigned to nobody

[2018-09-04 13:15] LucasMatuszewski commented on #31
I had a similar Nodemon error for different script.
Changing ' to \" didn't helped me. But I found other solution.
Maybe it will help somebody:

Error:
[code]

I fixed it by changing package.json script from:

`"dev:server": "nodemon --watch build --exec \"node build/bundle.js\"",`

to:

`"dev:server": "nodemon build/bundle.js --watch build",`

works fine for me.

Best regards :)
Lukas

[2019-07-29 05:20] stenalpjolly opened #110 "Heroku Build getting failed"
I have cloned the repo and linked with Heroku, But I'm getting the build error, Can someone help me on this? @crucialfelix @claym @jg123 @arnif @sankalpk

-----> Node.js app detected

-----> Creating runtime environment

       NPM_CONFIG_LOGLEVEL=error
       NODE_ENV=production
       NODE_MODULES_CACHE=true
       NODE_VERBOSE=false

-----> Installing binaries
       engines.node (package.json)